@model Student
@{
    Layout = "_Layout";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/site.css" />
</head>
<body>

   

    <form class="container" asp-action="EditImage" method="post" enctype="multipart/form-data" >
               
                <img src="/images/@Model.StdImg"/>
             
               <input  class="form-control" asp-for="Id" type="hidden"  placeholder="name" >

             
                <input  class="form-control" asp-for="Name"  type="hidden" placeholder="name" value=@Model.Name>
             
            
                <input class="form-control"asp-for="age" type="hidden" placeholder="age" value=@Model.age>
            
  
              
                <select class="form-control" asp-for="deptno" hidden asp-items="ViewBag.depts" ></select>
              
              <div class="form-group">
                <label for="img">choose Img</label>
                <input type="file" class="form-control-file"   asp-for="StdImg">
              </div>
              
                <input class="form-control"asp-for="Email"type="hidden" placeholder="Email" value=@Model.Email>
             
                <input class="form-control"asp-for="Username" type="hidden"  placeholder="UserName" value=@Model.Username>
              
                <input type="password" class="form-control"asp-for="Password" type="hidden" placeholder="Password" value=@Model.Password>
             
              </div>
             
               <button type="submit" class="btn btn-primary mb-2">Submit</button>
             
</form>



    </body>
    </html>
