
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>show</title>
</head>
<body>
    <h1>show </h1>
   
  <h1>@TempData.Peek("id")</h1>
</body>
</html>
