
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>show2</title>
</head>
<body>
    <h1>show2</h1>
    <h1>@TempData.Peek("id")</h1>
</body>
</html>
