@model Student
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    @Model.Name @Model.age @Model.department.Name
    <img  src="~/images/@Model.StdImg"/>
</body>
</html>
