
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>show</title>
</head>
<body>
    @ViewData["id"]
    @ViewData["fullname"]
    @ViewData["age"]
</body>
</html>
